<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>Id:<input type="text" class="form-control" v-model="id" placeholder="id"/></label>
                <label>Name:<input type="text" class="form-control" 
                  v-model="name" placeholder="name" @keyup.F2="add()"/></label>
                <input type="button" class="btn btn-primary" value="添加" @click="add()"></button>
                <label>搜索名称关键字：
                    <input type="text" class="form-control" v-model="keyword" v-focus v-color="'green'"
                    placeholder="输入关键字"/>//不加单引号，相当于去data里查找green这个变量
                  </label>
            </div>

        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keyword)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | msgF}}</td>
                    <td><a href="" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="app1">
        <p v-fontweight="400" v-color="'green'" v-fontsize="'50'">{{ dt | msgF}}</p>
    </div>
    <script>
        Vue.filter('msgF', function(msg, pat = '') {
            var dt = new Date(msg)
            var y = dt.getFullYear()
            var m = (dt.getMonth() + 1).toString().padStart(2, '0')
            var d = dt.getDate().toString().padStart(2, '0')

            if (pat.toLowerCase() === 'yyyy-mm-dd') {
                return y + '-' + m + '-' + d
            } else {
                var hh = dt.getHours().toString().padStart(2, '0')
                var mm = dt.getMinutes().toString().padStart(2, '0')
                var ss = dt.getSeconds().toString().padStart(2, '0')
                return y + '-' + m + '-' + d + ' ' + hh + ':' + mm + ':' + ss
            }
        });
        // 自定义键盘修饰符
        Vue.config.keyCodes.F2 = 113;

        // 在定义的时候，指令名称不需要加 v- 前缀， 但是在调用的时候，必须在指令前面加 v-前缀进行调用
        Vue.directive('focus', {
            bind: function(el) { //每当指令绑定到元素上的时候，会立即执行这个 bind 函数， 而且只执行一次

                // 注意： 在这三个函数中， 第一个参数永远都是el，表示被绑定了指令的那个元素， 这个el就是原生的js对象（DOM对象，可以使用DOM的方式操作这个元素）
                // 在元素刚绑定了指令的时候，还没有插入到DOM中去，这时候调用focus方法没有作用，因为一个元素，只有插入到DOM之后，才能获取焦点
            },
            inserted: function(el) { //inserted  表示元素 插入到DOM中的时候，会执行 inserted 函数 （触发一次）
                el.focus()
            },
            updated: function() { //每当 Vnode更新的时候  就会执行updated， 可能会触发多次

            }
        });
        // 自定义指令
        Vue.directive('color', {
            bind: function(el, bingdding) { //binding.name  指的是指令的名称  binding.value是指计算后的值 binding.expression指的是表达式
                /* 样式：只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，
                这个元素肯定有了内联样式 */
                /* el.style.color='red' */
                el.style.color = bingdding.value
            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keyword: '',
                list: [{
                    id: 1,
                    name: '奔驰',
                    ctime: new Date()
                }, {
                    id: 2,
                    name: '宝马',
                    ctime: new Date()
                }, {
                    id: 3,
                    name: '奥迪',
                    ctime: new Date()
                }, {
                    id: 4,
                    name: '玛莎拉蒂',
                    ctime: new Date()
                }]
            },
            methods: {
                add() {
                    var car = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    }
                    this.list.push(car)
                    this.id = this.name = ''
                },
                del(id) {
                    this.list.some((item, i) => {
                        if (item.id == id) {
                            this.list.splice(i, 1)
                            return true
                        }
                    })
                },
                /* search(keyword) {
                    var newList = []
                    this.list.forEach(item => {
                        if (item.name.indexOf(keyword) != -1) {
                            newList.push(item)
                        }
                    });
                    return newList
                } */
                search(keyword) {
                    return this.list.filter(item => {
                        if (item.name.includes(keyword)) {
                            return item;
                        }
                    });
                }
            }
        });
        var vm1 = new Vue({
            el: '#app1',
            data: {
                dt: new Date()
            },
            // 如果私有过滤器和全局过滤器同名，就近原则，使用最近的那个过滤器
            filters: {

                msgF: function(msg, pat = '') {
                    var dt = new Date(msg)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0')
                    var d = dt.getDate().toString().padStart(2, '0')

                    if (pat.toLowerCase() === 'yyyy-mm-dd') {
                        return y + '-' + m + '-' + d
                    } else {
                        var hh = dt.getHours().toString().padStart(2, '0')
                        var mm = dt.getMinutes().toString().padStart(2, '0')
                        var ss = dt.getSeconds().toString().padStart(2, '0')
                        return y + '-' + m + '-' + d + ' ' + hh + ':' + mm + ':' + ss
                    }
                }
            },
            directives: {
                'fontweight': {
                    bind: function(el, binding) { //自定义私有制令中，关于样式都写在 bind里就可以了， 关于js行为操作需要放到inserted里
                        el.style.fontWeight = binding.value
                    }

                },
                'fontsize': function(el, binding) { //这个function函数  等同于 把代码写在了bind和updated上
                    el.style.fontSize = parseInt(binding.value) + 'px'
                }
            }
        })
    </script>
</body>

</html>